@import url("https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.body {
  background-image: url("../public/images/background.png");
  background-color: rgba(0, 0, 0, 0.05);
  background-attachment: fixed;
  background-position: center;
  margin-top: 60px;
  width: 100vw;
  height: calc(100vh - 70px);
}

.gamecaro {
  background-color: aqua;
  background-image: -moz-element();
}

.logo, .logo span {
  font-size: 24px !important;
  font-family: "Luckiest Guy", cursive !important;
  color: #2C3E50 !important;
}
.logo span {
  color: #26a699 !important;
}

.appbar {
  background-color: white !important;
}

.btn {
  width: auto;
  display: block;
}
.btn-create-room {
  padding: 10px !important;
  color: #2C3E50 !important;
  margin-left: 40px !important;
}
.btn-create-room span,
.btn-create-room a {
  color: #2C3E50 !important;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.btn-join-room {
  padding: 10px !important;
  color: #2C3E50 !important;
}
.btn-join-room span,
.btn-join-room a {
  color: #2C3E50 !important;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.btn-play {
  color: #2C3E50 !important;
  width: 30% !important;
  margin-top: 30px !important;
  border-radius: 100px !important;
}
.btn-play span,
.btn-play a {
  color: #2C3E50 !important;
  letter-spacing: 3px;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}

.img {
  width: auto;
  height: auto;
}
.img-logo {
  content: url("../public/images/logo.png");
  width: 80px !important;
  height: auto;
  margin-right: 10px !important;
}

.handleRoom {
  text-align: center;
  display: block;
}
.handleRoom span.title {
  margin-top: 40px;
  color: #1a4a7a !important;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 36px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.handleRoom small {
  display: block !important;
}
.handleRoom .IDRoom {
  background-color: rgba(112, 112, 112, 0.404);
  border-radius: 100px;
  margin-top: 60px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.handleRoom .IDRoom input {
  width: auto;
  text-align: center;
  color: #1a4a7a !important;
  letter-spacing: 3px;
  font-size: 28px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.handleRoom .IDRoom .MuiOutlinedInput-root {
  border-radius: 40px;
}
.handleRoom .IDRoom label {
  color: #2C3E50 !important;
  font-size: 24px !important;
  font-family: "Luckiest Guy", cursive !important;
}

.gameRoom {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgba(163, 163, 163, 0.04);
  height: calc(100vh - 60px);
  width: auto;
}
.gameRoom table {
  margin-top: 30px;
  border: 2px solid rgba(110, 110, 110, 0.67);
  background-color: white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.gameRoom table td {
  border: 0.1px solid rgba(110, 110, 110, 0.329);
  width: 30px;
  height: 30px;
}
.gameRoom table td:hover {
  background-color: rgba(110, 110, 110, 0.144);
}