@import url('https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap');
$color-black : #2C3E50 !important;
$color-black-light : #1a4a7a !important;
$color-blue:rgb(38, 166, 153) !important;
$color-white:white !important;
$width_table: 100vw/12*5-1;
$height_table: 100vw/12*5-1;


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.body {
    background-image: url("../public/images/background.png");
    background-color: rgba(0, 0, 0, 0.05);
    background-attachment: fixed;
    background-position: center;
    margin-top: 60px;
    width: 100vw;
    height: calc(100vh - 64px);
}



.gamecaro {
    background-color: aqua;
    background-image: -moz-element();
}

.logo {
    font: {
        size: 24px !important;
        family: 'Luckiest Guy', cursive !important;
    }

    color:$color-black;

    span {
        @extend .logo;
        color: $color-blue;
    }
}

.appbar {
    background-color: $color-white;
}

.btn {
    width: auto;
    display: block;

    &-create-room {
        padding: 10px !important;
        color: #2C3E50 !important;
        margin-left: 40px !important;

        span,
        a {
            color: #2C3E50 !important;

            font: {
                size: 18px !important;
                family: 'Luckiest Guy', cursive !important;
            }
        }

    }

    &-join-room {
        padding: 10px !important;
        color: #2C3E50 !important;

        span,
        a {
            color: #2C3E50 !important;

            font: {
                size: 18px !important;
                family: 'Luckiest Guy', cursive !important;
            }
        }
    }

    &-play {
        color: #2C3E50 !important;
        width: 30% !important;
        margin-top: 30px !important;
        border-radius: 100px !important;

        span,
        a {
            color: #2C3E50 !important;
            letter-spacing: 3px;

            font: {
                size: 18px !important;
                family: 'Luckiest Guy', cursive !important;
            }
        }
    }
}

.img {
    width: auto;
    height: auto;

    &-logo {
        content: url("../public/images/logo.png");
        width: 80px !important;
        height: auto;
        margin-right: 10px !important;
    }
}

.handleRoom {
    text-align: center;
    display: block;

    span.title {
        margin-top: 40px;
        color: $color-black-light;
        display: inline-block;
        letter-spacing: 2px;

        font: {
            size: 36px !important;
            family: 'Luckiest Guy', cursive !important;
        }
    }

    small {
        display: block !important;
    }

    .IDRoom {
        background-color: rgba(112, 112, 112, 0.404);
        border-radius: 100px;
        margin-top: 60px;
        box-shadow:
            0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);


        input {
            width: auto;
            text-align: center;
            color: $color-black-light;
            letter-spacing: 3px;

            font: {

                size: 28px !important;
                family: 'Luckiest Guy', cursive !important;
            }
        }

        .MuiOutlinedInput-root {
            border-radius: 40px;
        }

        label {
            color: $color-black;

            font: {
                size: 24px !important;
                family: 'Luckiest Guy', cursive !important;
            }
        }


    }
}

.gameRoom {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    background-color: rgba(163, 163, 163, 0.040);
    height: auto;
    width: auto;

    .grid_Room {

        margin-top: 30px;
        width: 100vw;

        table {
            width: $width_table;
            height: $height_table;
            border: 1px solid rgba(110, 110, 110, 0.670);
            background-color: rgb(255, 255, 255);
            box-shadow:
                0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);

            td {
                border: 0.1px solid rgba(110, 110, 110, 0.329);
                width: $width_table/19;
                height: $height_table/19;

                &:hover {
                    background-color: rgba(110, 110, 110, 0.144);
                }
            }
        }
    }




}

.Detail_Player {
    display: flex;
    justify-content: center;

    .score {
        width: $width_table;
        height: auto;
        background-color: white;

        .Score_Player1,
        .Score_Player2 {
            width: 100%;
            height: 100%;
        }
    }
}

.Profile {
    display: block;

    .img_avt {
        display: flex;
        justify-content: center;

        .border_avt {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4a7db1;
            border-radius: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

    }

    .name_player h5 {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: white;

        font: {
            size: 22px !important;
            family: 'Luckiest Guy', cursive !important;

        }

        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;

        .ready {
            color: #1eff00 !important;
        }

        .not_ready {
            color: #ff0000 !important;
        }
    }

    .countdown h3 {
        font: {
            size: 40px !important;
            family: 'Luckiest Guy', cursive !important;

        }

        -webkit-text-fill-color: #fd0b0bcc;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}






svg {
    circle {
        stroke-width: 6px;
        animation: animate-circle 2s linear forwards;
    }

    path {
        fill: $color-blue;
        stroke-width: 6;
        transition: fill .3s ease-in-out;
    }
}

@keyframes animate-circle {
    0% {
        stroke-dasharray: 0;
    }


    100% {
        stroke-dasharray: 500;
    }
}


.Modal_JoinRoom {
    margin-top: 60px;
}