@import url("https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.body {
  background-image: url("../public/images/background.png");
  background-color: rgba(0, 0, 0, 0.05);
  background-attachment: fixed;
  background-position: center;
  margin-top: 60px;
  width: 100vw;
  height: calc(100vh - 64px);
}

.gamecaro {
  background-color: aqua;
  background-image: -moz-element();
}

.logo, .logo span {
  font-size: 24px !important;
  font-family: "Luckiest Guy", cursive !important;
  color: #2C3E50 !important;
}
.logo span {
  color: #26a699 !important;
}

.appbar {
  background-color: white !important;
}

.btn {
  width: auto;
  display: block;
}
.btn-create-room {
  padding: 10px !important;
  color: #2C3E50 !important;
  margin-left: 40px !important;
}
.btn-create-room span,
.btn-create-room a {
  color: #2C3E50 !important;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.btn-join-room {
  padding: 10px !important;
  color: #2C3E50 !important;
}
.btn-join-room span,
.btn-join-room a {
  color: #2C3E50 !important;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.btn-play {
  color: #2C3E50 !important;
  width: 30% !important;
  margin-top: 30px !important;
  border-radius: 100px !important;
}
.btn-play span,
.btn-play a {
  color: #2C3E50 !important;
  letter-spacing: 3px;
  font-size: 18px !important;
  font-family: "Luckiest Guy", cursive !important;
}

.img {
  width: auto;
  height: auto;
}
.img-logo {
  content: url("../public/images/logo.png");
  width: 80px !important;
  height: auto;
  margin-right: 10px !important;
}

.handleRoom {
  text-align: center;
  display: block;
}
.handleRoom span.title {
  margin-top: 40px;
  color: #1a4a7a !important;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 36px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.handleRoom small {
  display: block !important;
}
.handleRoom .IDRoom {
  background-color: rgba(112, 112, 112, 0.404);
  border-radius: 100px;
  margin-top: 60px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.handleRoom .IDRoom input {
  width: auto;
  text-align: center;
  color: #1a4a7a !important;
  letter-spacing: 3px;
  font-size: 28px !important;
  font-family: "Luckiest Guy", cursive !important;
}
.handleRoom .IDRoom .MuiOutlinedInput-root {
  border-radius: 40px;
}
.handleRoom .IDRoom label {
  color: #2C3E50 !important;
  font-size: 24px !important;
  font-family: "Luckiest Guy", cursive !important;
}

.gameRoom {
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
  background-color: rgba(163, 163, 163, 0.04);
  height: auto;
  width: auto;
}
.gameRoom .grid_Room {
  margin-top: 30px;
  width: 100vw;
}
.gameRoom .grid_Room table {
  width: 40.6666666667vw;
  height: 40.6666666667vw;
  border: 1px solid rgba(110, 110, 110, 0.67);
  background-color: white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.gameRoom .grid_Room table td {
  border: 0.1px solid rgba(110, 110, 110, 0.329);
  width: 2.1403508772vw;
  height: 2.1403508772vw;
}
.gameRoom .grid_Room table td:hover {
  background-color: rgba(110, 110, 110, 0.144);
}

.Detail_Player {
  display: flex;
  justify-content: center;
}
.Detail_Player .score {
  width: 40.6666666667vw;
  height: auto;
  background-color: white;
}
.Detail_Player .score .Score_Player1,
.Detail_Player .score .Score_Player2 {
  width: 100%;
  height: 100%;
}

.Profile {
  display: block;
}
.Profile .img_avt {
  display: flex;
  justify-content: center;
}
.Profile .img_avt .border_avt {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a7db1;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Profile .name_player h5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-size: 22px !important;
  font-family: "Luckiest Guy", cursive !important;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.Profile .name_player h5 .ready {
  color: #1eff00 !important;
}
.Profile .name_player h5 .not_ready {
  color: #ff0000 !important;
}
.Profile .score_player h3 {
  font-size: 40px !important;
  font-family: "Luckiest Guy", cursive !important;
  -webkit-text-fill-color: #fd0b0bcc;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.cursor {
  cursor: pointer;
}

.homepage {
  display: inline-block;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.homepage h3 {
  color: white;
  text-transform: uppercase;
}
.homepage .session-1 {
  text-align: left;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: #2C3E50 !important;
  color: #9c9c9c;
}
.homepage .session-1 hr {
  border-color: #1a4a7a !important;
}
.homepage .session-1 .content {
  width: 50%;
  padding: 50px;
  margin-left: 100px;
}
.homepage .session-1 .image-caro {
  width: 40%;
  padding: 50px;
}
.homepage .session-1 .image-caro img {
  width: 50%;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(255, 255, 255, 0.14), 0px 1px 10px 0px rgba(255, 255, 255, 0.12);
}
.homepage .session-1 .image-caro img:hover {
  transform: scale(1.1);
}
.homepage .session-2 {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  color: white;
  background-color: #2C3E50 !important;
  font-size: 20px;
}
.homepage .session-2 h3 {
  font-weight: 700;
  font-size: 30px;
}
.homepage .session-2 ul {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.homepage .session-2 ul li {
  margin-left: 20px;
}
.homepage .session-2 ul i {
  color: #26a699 !important;
}

svg circle {
  stroke-width: 6px;
  animation: animate-circle 2s linear forwards;
}
svg path {
  fill: #26a699 !important;
  stroke-width: 6;
  transition: fill 0.3s ease-in-out;
}

@keyframes animate-circle {
  0% {
    stroke-dasharray: 0;
  }
  100% {
    stroke-dasharray: 500;
  }
}
.Modal_JoinRoom {
  margin-top: 60px;
}